<form id="user-options-page-form" class="ajax" method="post" action="index.php?class=user&controller=options&task=save&params=options">
    <div class="control-group clearfix">
        <label class="control-label" for="input_exit_time">:EXIT_TIME_LABEL</label>
        <div class="controls width-20">
            <input id="input_exit_time" value=":exit_time" name="exit_time" type="text"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button class="btn" type="submit">:SAVE_BTN_CAPTION</button>
        </div>
    </div>
</form>