<div class="articles-table">
    <div class="articles-filter">
        :filter
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>:TITLE_TH</th>
            <th>:CATEGORY_TH</th>
            <th>:DATE_TH</th>
            <th>:AUTHOR_TH</th>
            <th>:PUBLISHED_TH</th>
            <th>
                <a class="external
            add-article-btn cursor-pointer
            color-white pull-right"
                        >
                    <i class="icon-plus icon-white"></i>
                    :ADD
                </a>
            </th>
        </tr>
        </thead>

        <tbody>
        :trs
        </tbody>
    </table>
    <span class="js-hook invisible">/js/articles/admin/views/articles_view.js</span>
</div>