<form
        class="ajax form-inline"
        method="post"
        action="index.php?class=user&controller=auth&task=auth"
        id="user-login-form"
        >
    <div class="input-small float-left">
        <input class="input-small" name="login" placeholder=":LOGIN" type="text"/>
    </div>
    <div class="input-small float-left margin-right-2 margin-left-2">
        <input class="input-small" placeholder=":PASSWORD" name="password" type="password"/>
    </div>
    <label class="checkbox">
        <input name="remember_me" type="checkbox"/> :CHECKBOX
    </label>
    <button class="link-btn" type="submit">:BTN_VALUE</button>
    <a class="display-btn link-btn" href=":reg_url">:REGISTRATION</a>
</form>
<span class="invisible js-hook">/js/user/site/views/login_view.js</span>