<div class="widget-header padding-left-2 clearfix padding-right-2">
    <h1 class="float-left width-80">:HEADER</h1>

    <button class="btn pull-right margin-top-1">:ADD_USER_BTN_CAPTION</button>
</div>

<div id="user-tabs" class="margin-top-2">
    <ul>
        <li>
            <a class="external" href="index.php?class=user&controller=users">
                :USERS_TAB_CAPTION
            </a>
        </li>
    </ul>
</div>

<div class="js-hook invisible">:js</div>
<div class="css-hook invisible">/js/ui/themes/base/jquery.ui.all.css</div>