<form
        class="ajax form-horizontal"
        method="post"
        action="index.php?class=menu&controller=menus&task=create"
        >

        <div class="width-100 text-center">
            <h1 class="text-color-blue">:CREATE_HEADER</h1>
        </div>
        <hr/>

        <div class="control-group">
            <label class="control-label" for="name_input">:NAME_LABEL</label>
            <div class="controls width-25">
                <input id="name_input" name="name" type="text"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="alias_input">:ALIAS_LABEL</label>
            <div class="controls width-25">
                <input id="alias_input" name="alias" type="text"/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn" type="submit">
                    :CREATE_BTN_LABEL
                </button>
            </div>
        </div>
</form>