<form
        class="ajax form-horizontal"
        method="post"
        action="index.php?class=menu&controller=menus&task=edit&params=:id"
        >

        <div class="width-100 text-center">
            <h1 class="text-color-blue">:EDIT_HEADER</h1>
        </div>
        <hr/>

        <div class="control-group">
            <label class="control-label" for="alias_input">:ALIAS_LABEL</label>
            <div class="controls width-25">
                <input id="alias_input" name="alias" type="text"/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn" type="submit">:EDIT_BTN_LABEL</button>
            </div>
        </div>
</form>