<div class="width-80 text-center inline-block articles-article">

    <h1 class="text-left">:title</h1>

    <div class="width-100">
        <p class="pull-left">:date</p>
        <p class="pull-right"><i class="icon-tags"></i> :tags</p>

        <div class="margin-top-5 block articles-article-text text-left">
            :text
        </div>
    </div>
</div>
<span class="css-hook invisible">/css/articles/ladda/ladda.min.css</span>
<span class="css-hook invisible">/css/articles/default.css</span>
<span class="js-hook invisible">/js/articles/ladda/spin.min.js</span>
<span class="js-hook invisible">/js/articles/ladda/ladda.js</span>
<span class="js-hook invisible">/js/articles/is_in_view_port/isInViewport.js</span>