<form
        class="ajax form-inline"
        method="post"
        action="index.php?class=menu&controller=items&task=:task"
        >
    <fieldset class="width-100">
        <legend class="margin-left-2 text-color-blue">:HEADER</legend>

        <div class="width-50 float-left inline-block margin-left-2">
            <label class="width-100">:MENUS_LABEL</label>
            :menus

            <label class="width-100 margin-top-5">:ITEMS_LABEL</label>
            :menu_items_list

            <div class=":name">
                <label class="margin-top-5 width-100">:NAME_LABEL</label>
                <input name="name" type="text"/>
            </div>

            <label class="margin-top-5 width-100">:ALIAS_LABEL</label>
            <input name="alias" value=":alias" type="text"/>
        </div>
        <div class="inline-block clearfix width-45">
            <label class="width-100" for="url_input">:URL_LABEL</label>
            <div class="input-append">
                <input class="width-60" id="url_input" name="add-url-input" type="text"/>
                <span class="add-url-btn add-on cursor-pointer bg-green">:ADD</span>
            </div>

            <div class="url-box single-select margin-top-5">
                :urls
            </div>
        </div>
    </fieldset>

    <br/>
    <button class="btn margin-left-2" type="submit">:BTN_LABEL</button>
</form>
<span class="js-hook invisible">/js/menu/admin/views/links_view.js</span>