.gridster * {
    margin: 0;
    padding: 0;
}

.gridster ul {
    list-style: none;
}

.gridster ul li {
    border: 1px solid #c0c0c0;
    z-index: 0;
}

.gridster li span{
    width: 100%;
    height: 92%;
    display: block;
}
