<div id="login-view">
    <h3 class="margin-left-2">:alias</h3>
    <hr>

    <span class="margin-left-2 inline-block">
    <p>:VIEW_DESC_LABEL <br>
    :description</p>
    </span>

    <form method="post" class="ajax margin-left-2 form-inline" action=":action">

        <div class="inline-block width-100">

            <div class="float-left inline-block width-40">
                <label for="reg_url_input">:REGISTRATION_URL_LABEL</label>
            </div>
            <div class="inline-block margin-left-5 width-25 clearfix">
                <input id="reg_url_input" value="/registration" required type="text"/>
            </div>
        </div>

        <input name="class_name" type="hidden"  value=":class"/>
        <input name="extension" value=":extension" type="hidden"/>
        <input name="controller" value=":controller" type="hidden"/>

        :menu_html
    </form>
</div>