<div class="registration-block width-40 inline-block">
    <div class="text-agreement-area">
        <textarea class="width-100" cols="50" rows="20">
            :text
        </textarea>

        <br />
        <div class="width-100 inline-block">
            <input
                    id="accept_input"
                    class="pull-left accept-agreement-chbx"
                    name="accept"
                    type="checkbox"/>
            <label for="accept_input" class="pull-left margin-left-10px">:ACCEPT</label>
        </div>
    </div>

    <div class="hide reg-form">
        :form
    </div>
</div>
<span class="js-hook invisible">/js/user/site/views/reg_view.js</span>