.inline-block {
    display: inline-block;
}

.position-relative {
    position: relative;
}

.inline-ul {
    display: inline-block;
    list-style: none;
}

.inline-ul li {
    display: inline-block;
    float: left;
}

.width-100 {
    width: 100%;
}

.margin-padding-0 {
    margin: 0 !important;
    padding: 0 !important;
}

.overflow-hidden {
    overflow: hidden;
}

.peach-slider-arrow {
    display: table-cell;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background: #eee;
    text-align: center;
    vertical-align: middle;
    line-height: 2;
    cursor: pointer;
}

.peach-slider-arrow-left {
    left: 2%;
    top: 40%;
}

.peach-slider-arrow-right {
    right: 2%;
    top: 40%;
}

.peach-slider-dots-container {
    display: inline-block;
    min-width: 15%;
    height: 20px;
    background: slategray;
    border-radius: 5px;
    list-style: none;
    position: absolute;
    bottom: 2%;
    right: 5%;
}

.peach-slider-dots-container li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 16px;
    background: #eee;
    margin-left: 5px;
    cursor: pointer;
}

.peach-slider-active-dot {
    background: darkslateblue !important;
}

.peach-play-btn {
    display: none;
    position: absolute;
    top: 40%;
    left: 45%;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background: #eee;
    text-align: center;
    line-height: 2;
    cursor: pointer;
}

.peach-slider-wrapper:hover .peach-play-btn {
    display: inline-block;
}

.peach-slider-pb {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: #b81900;
}