<form
        class="ajax form-inline"
        method="post"
        action="index.php?class=menu&method=create_layout"
        >

    <div class="width-98 inline-block margin-left-1">
        <h3 class="text-color-blue">:HEADER</h3>
        <hr/>

        <label class="width-100" for="menu_select">:MENU_LABEL</label>
        <select class="clearfix" name="menu" id="menu_select">
            :opts
        </select>
        <br/>
        <br/>

        <label class="width-100">:STYLE</label>
        <label for="hor_input">:HORIZON</label>
        <input id="hor_input" name="layout" value="horizon" checked type="radio"/>

        <label for="vert_input">:VERTICAL</label>
        <input id="vert_input" name="layout" value="vertical" type="radio"/>

        <label class="width-100" for="css_class_input">:CSS_CLASS_LABEL</label>
        <input id="css_class_input" name="css_class" type="text"/>

        :create_layout_html

        <input name="class_name" value=":class" type="hidden"/>
        <input name="extension" value=":extension" type="hidden"/>
        <input name="controller" value=":controller" type="hidden"/>
    </div>
</form>