<div class="clearfix inline-block width-100">

    <div class="inline-block float-left">
        <div class="input-append">
            <input id="url_input" name="add-url-input" type="text"/>
            <span class="add-url-btn add-on cursor-pointer bg-green">:ADD</span>
        </div>
    </div>

    <button class="delete-url-btn btn margin-left-2 btn-danger clearfix">:DELETE</button>

    <div class="url-box inline-block width-100">
        <input name="select-all-url-input" type="checkbox"/>
        <br>
        :urls
    </div>
</div>
<span class="js-hook invisible">/js/menu/admin/views/links_view.js</span>