<div class="width-100">
    <h1 class="margin-left-2 text-color-blue">:HEADER</h1>
    <hr/>

    <div id="menu-tabs" class="margin-top-2">
        <ul>
            <li>
                <a class="external" href="index.php?class=menu&controller=menus">
                   :MENUS_TAB_CAPTION
                </a>
            </li>
            <li>
                <a class="external" href="index.php?class=menu&controller=items">
                    :MENU_ITEMS_TAB_CAPTION
                </a>
            </li>
            <li>
                <a class="external" href="index.php?class=menu&controller=layouts">
                    :LAYOUTS_TAB_CAPTION
                </a>
            </li>
            <li>
                <a class="external" href="index.php?class=menu&controller=links">
                    :LINKS_TAB_CAPTION
                </a>
            </li>
            <li>
                <a class="external" href="index.php?class=menu&controller=views">
                    :VIEWS_TAB_CAPTION
                </a>
            </li>
        </ul>
    </div>
</div>
<span class="js-hook">:js</span>
<span class="css-hook">/js/ui/themes/base/jquery.ui.all.css</span>