<form action=":action" method="post" class="width-100 form-horizontal ajax">
    <figure class="align-center">
        <div class="user-avatar-container inline-block position-relative margin-left-20">
            <img class="user-avatar-img size-170px" src=":avatar" alt=""/>
            <div class="user-change-avatar hover-block top-0 width-170px height-170px">
                <i class="user-download-avatar icon-download-alt icon-white cursor-pointer margin-left-top-50"></i>
            </div>
        </div>
    </figure>

    <div class="control-group">
        <label class="control-label" for="input_login">:LOGIN_LABEL<sup>*</sup></label>
        <div class="controls">
            <input id="input_login" type="text" value=":login" name="login"/>
        </div>
    </div>

    <div class="control-group">
        <!--<label class="control-label" for="input_password">:PASSWORD_LABEL<sup>*</sup></label>-->
        :pswd_label
        <div class="controls">
            <input id="input_password" name="password" value=":password" type="text"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="input_full_name">:full_name</label>
        <div class="controls">
            <input id="input_full_name" value=":full_name_val" name="full_name" type="text"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="input_email">email</label>
        <div class="controls">
            <input id="input_email" value=":email" name="email" type="text"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="input_phone">:phone</label>
        <div class="controls">
            <input id="input_phone" value=":phone_val" name="phone" type="text"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="input_icq">icq</label>
        <div class="controls">
            <input id="input_icq" value=":icq" name="icq" type="text"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="input_skype">skype</label>
        <div class="controls">
            <input id="input_skype" name="skype" value=":skype" type="text"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="input_site">:site</label>
        <div class="controls">
            <input id="input_site" name="site" value=":site_val" type="text"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="input_facebook">facebook</label>
        <div class="controls">
            <input id="input_facebook" name="facebook" value=":facebook" type="text"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="input_twitter">twitter</label>
        <div class="controls">
            <input id="input_twitter" name="twitter" value=":twitter" type="text"/>
        </div>
    </div>

    :credentials

    <input class="invisible user-avatar-loader" type="file"/>

    <textarea class="invisible"  name="avatar" ></textarea>

    <input class="invisible" name="id" value=":id" type="text"/>

    <div class="control-group margin-top-2">
        <div class="controls">
            <button class="btn" type="submit">:BTN_LABEL</button>
        </div>
    </div>
</form>