<!DOCTYPE html>
<html>
<head>
    <title></title>
    :css
</head>
<body>
    <div id="all">
        <header id="header">
            <div data-position="login" class="width-98 bg-white padding-1"></div>
            <span class="logo">
                <a class="decoration-none" href="/"><h2>:logo_text</h2></a>
            </span>
            <span class="menu-bar" data-position="menu">
                <span class="invisible">text</span>
            </span>
        </header>

        <div class="block1 block text-center" data-position="main">
            <span class="invisible">text</span>
        </div>

        <div class="block2 block text-center padding-top-2" data-position="block1">
            <span class="invisible">text</span>
        </div>

        <footer class="footer">
            <p class="margin-1">:footer_text</p>

            <span class="pull-right margin-1" data-position="footer">
                <span class="invisible">text</span>
            </span>
        </footer>

    </div>

    :js
</body>
</html>