.error {
    background-color: red !important;
    color: #ffffff !important;
}

.error::-webkit-input-placeholder{
    color: #ffffff;
}

.error:-moz-input-placeholder {
    color: #ffffff;
}

.error:-ms-input-placeholder {
    color: #ffffff;
}

.error:-o-input-placeholder {
    color: #ffffff;
}

.padding-left-5 {
    padding-left: 5%;
}

.padding-left-1 {
    padding-left: 1%;
}