.error {
    background-color: red !important;
    color: #ffffff !important;
}

.error::-webkit-input-placeholder{
    color: #ffffff;
}

.error:-moz-input-placeholder {
    color: #ffffff;
}

.error:-ms-input-placeholder {
    color: #ffffff;
}

.error:-o-input-placeholder {
    color: #ffffff;
}